body {
  background-color: #333;
  color: #eee;
  font-family: Helvetica, Arial, Sans;
}

h1 {
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}

.subTitle {
  color: #999;
  text-align: center;
  font-size: 46px;
  text-transform: uppercase;
  /*letter-spacing: 1px;*/
  margin-top:-10px;
  /*margin-left: -5px;*/ /* letter spacing adds before the margin */
}

.mainSlogan {
  color: #FF0;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 9px;
  margin-left: 9px;
}

.mainFootnote {
  color: #999;
  text-align: center;
  font-size: 1em;
  
  margin-top:5px;
  letter-spacing:1px;
  margin-left:1px;
}

.mainFootnote a:link {
  color:#FFF;
}

.mainFootnote a:visited {
  color:#FFF;
}

.mainFootnote a:hover, .mainFootnote a:active {
  color:#FFF;
}

.searchLogo {
  width:150px;
  height:300px;
  float:left;
  margin-right:10px;
  margin-top:-5px;
}

.search-controls {
  width:90%;
}

.extra-search-controls {
  width:90%;
  color:#999;
  font-size:1em;
  text-transform: lowercase;
}

.searchOption {
  vertical-align:-3px;
  margin-left:0px;
  margin-right:3px;
}

.searchBoxContainer {
  width:440px;
  float:left;
  text-align:left;
  margin-top:-8px;
}

.searchBox {
  width:100%;
  margin-left:0px;
}

.searchButtonContainer {
  margin-top:10px;
  margin-right:-8px;
  float:right;
}

.searchButton {
  width:80px;
}

.searchTermsContainer {
  width:440px;
  margin-top:10px;
  float:left;
  text-align:left;
}

.searchNote {
  width:450px;
  color:#FF0;
  font-size:12px;
  text-align:left;
  font-weight:bold;
  margin-bottom:10px;
}

.searchTip {
  width:450px;
  color:#FF0;
  font-size:12px;
  text-align:left;
  font-weight:bold; 
}

.searchTipText {
  margin-top: 10px;
  margin-bottom:10px; 
}

.navigationLeftCol {
  width:150px;
  /*height:300px;*/
  float:left;
  text-align:right;
  margin-right:10px;
  margin-top:-5px;
}

.navigationLeftCol a img {
  border-style:none;
}

.contentRightCol {
  width:440px;
  float:left;
  text-align:left;
  margin-top:-8px;
}

.contentHeader {
  color:#FFF;
  
  font-size:23px;
  font-weight:normal;
  margin-top:5px;
  margin-bottom:5px;
  text-transform:uppercase;
  letter-spacing:2px;
}

.contentSubHeader {
  color:#FFF;
  
  font-size:11px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:1px;
}

.contentText {
  color:#999;
  
  font-size:11px;
}

.contentText a:link {
  color:#FFF;
}

.contentText a:visited {
  color:#FFF;
}

.contentText a:hover, .contentText a:active {
  color:#FFF;
}

.contentNavigation {
  margin-right:4px;
  float:right;
}

a:link, a:visited {
  color:#FF0;
  text-decoration: none;
}

a:hover, a:active {
  color:#FFF;
}

/*
You know BSG and lolcats have corrupted your mind when you're using ".cylonSearchTerm" and ".hoomanSearchTerm" for CSS class names...
*/

.cylonSearchTerm {
  color:#FF0;
  font-size:16px;
  text-transform: uppercase;
}

.hoomanSearchTerm {
  color:#FFF;
  
  font-size:16px;
  text-transform: uppercase;
}